.slider {
  overflow: visible;
  transition: transform 1s;
  font-weight: 300; }
  .slider h1 {
    margin: 14px 0;
    font-size: 3.333em; }
  .slider h3 {
    margin: 0;
    font-size: 1.667em; }
  .slider-desc {
    font-size: 1em; }
  .slider-wrapper {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto; }
  .slider-item {
    display: flex;
    align-items: center;
    float: left;
    width: 100vw;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .slider-promo-block {
    color: #fff;
    text-align: left; }
  .slider-dot {
    display: inline-block;
    margin-top: 10px; }
    .slider-dot span {
      display: block;
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #f0f0f0;
      transition: opacity .2s ease;
      border-radius: 20px; }
    .slider-dot.active span {
      background: #e1e1e1; }
    .slider-dot:hover {
      cursor: pointer; }
      .slider-dot:hover span {
        background: #e1e1e1; }

@media (min-width: 1441px) {
  .slider-item {
    width: 1440px; } }
